notification_block[data-module="notification"] {
  position: fixed;
  top: 180px;
  right: 75px;
  width: 280px;

  .notification {
    position: absolute;
    border: 1px solid $green;
    border-bottom-width: 3px;
    border-radius: 4px;
    background-color: $white;
    padding: 16px 12px 20px;
    font-size: 12px;
    font-family: 'Helvetica Neue Cyr Roman', sans-serif;
    color: $gray;

    b {
      font-family: 'Helvetica Neue Cyr Bold', sans-serif;
      color: $color-black;
    }

    &_circle {
      background-color: $background-gray;
      position: absolute;
      border: 1px solid $green;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      top: -6px;
      left: -6px;
      padding: 0;

      span {
        position: relative;
        width: 100%;
        display: block;
        height: 100%;
        text-align: center;
        line-height: 0.8;

        &::before {
          content: '';
          display: inline-block;
          width: 5px;
          height: 5px;
          background-color: $green;
          border-radius: 50%;
        }
      }
    }
  }
}

.notification_block {
  position:fixed;
  bottom: -100%;
  width:100%;
  transition: 0.4s;
  z-index: 9999;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;

  .notification_text {
    color: #fff;
    font-size: 18px;
    font-family: $helvetica_neue_roman;
    text-align: center;
    margin: 10px 0 0 0
  }
}
