$main_color: #224b7a;
$secondary_color: #959595;
$background-gray: #edf2f6;
$button_color: #5774a3;
$blocks_background: #fafbfc;
$gray: #8f8f8f;
$light-gray: #e3e4e9;
$color-black: #494949;
$white: #ffffff;
$success: #94d486;
$danger: #d48686;
$yellow: #f1db76;
$primary: #85a3d5;

//fonts variables
$helvetica_neue_roman: 'Helvetica Neue Cyr Roman', sans-serif;